body {
  height: 100vh;
  background: url("./assets/HomeBg.jpg") fixed center;
  background-size: cover;
  user-select: none;
}

.resize {
  width: 150px;
  height: auto;
}

.center-login {
  height: 80vh;
}

@media (max-width: 768px) {
  .center-img {
    height: 80vh;
  }

  .center-login {
    height: 60vh;
  }
}
